.app-header {
    background-color: #263238;
    height: 55px;
    padding: 0px;
    margin: 0px;
}


.logo {
    float: left;
    color: #fff;
    font-weight: 18px;
    vertical-align: middle;   
    padding-left: 8px;
}

.cardStyle {
    width: 280px;
    padding: 32px 64px 32px 64px;
    margin: auto;
    text-align: left;
}

.formControl {
    width: 260px;
}

.red{
    color: red;
}